* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
}

.owl-prev, .owl-next {
  position: absolute;
  top: 35%;
  left: -3%;
  width: 45px;
  height: 45px;
  border-radius: 50% !important;
  background-color: #fff !important;
  -webkit-box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.1);
          box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.1);
  z-index: 3;
}

.owl-prev span, .owl-next span {
  color: #007791;
  font-size: 40px;
  font-weight: normal;
  line-height: 0.7;
}

.owl-prev:focus, .owl-next:focus {
  outline: none;
}

.owl-next {
  left: unset;
  right: -3%;
}

.ude-btnWhite {
  background-color: #fff;
  border: 1px solid #686f7a;
  padding: 11px 12px;
  border-radius: 2px;
  color: #686f7a;
  font-size: 15px;
  font-weight: 700;
}

.ude-btnWhite:hover {
  background-color: #fff;
  color: #29303b;
  border-color: #29303b;
}

.ude-btnRed {
  background-color: #ec5252;
  border: 1px solid #ec5252;
  padding: 11px 12px;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.ude-btnRed:hover {
  background-color: #992337;
  color: #fff;
  border-color: #992337;
}

.Cp-btnRed {
  background-color: #ec5252;
  border: 1px solid #ec5252;
  padding: 11px 12px;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.Cp-btnRed:hover {
  background-color: #992337;
  color: #fff;
  border-color: #992337;
}

.footer-btnWhite {
  background-color: #fff;
  border: 1px solid #686f7a;
  padding: 11px 41px;
  border-radius: 2px;
  color: #686f7a;
  font-size: 15px;
  font-weight: 700;
}

.footer-btnWhite:hover {
  background-color: #fff;
  color: #686f7a;
  border-color: #29303b;
}

.navbar {
  max-width: 1440px;
  margin: auto;
}

.navbar .header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #505763;
  font-size: 13px;
  font-weight: normal;
}

.navbar .header__left .navbar-brand {
  margin-right: 25px;
}

.navbar .header__left .navbar-brand img {
  width: 110px;
}

.navbar .header__left .header__cate {
  margin-right: 25px;
}

.navbar .header__left .header__form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.navbar .header__right .nav-link {
  color: #505763;
  font-size: 13px;
  font-weight: normal;
}

.navbar .header__right .ude-btnGroup {
  margin-left: 25px;
}

@media screen and (max-width: 1200px) {
  .navbar {
    width: 100%;
    margin: auto;
  }
  .header__right .ude-business, .header__right .ude-teach {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .header__left .header__form, .header__left .header__cate {
    display: none;
  }
  .header__left .navbar-brand {
    margin: auto !important;
  }
  .header__right .ude-btnGroup {
    display: none;
  }
}

.udeCarousel {
  background-image: url(../img/cover.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
}

.udeCarousel .Carousel-Content {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 40%;
}

.udeCarousel h2 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

.udeCarousel p {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.udeCarousel .input .form-control {
  padding: 20px;
}

.udeCarousel .input .form-control::-webkit-input-placeholder {
  color: #a1a7b3;
  font-size: 20px;
  font-weight: normal;
}

.udeCarousel .input .form-control:-ms-input-placeholder {
  color: #a1a7b3;
  font-size: 20px;
  font-weight: normal;
}

.udeCarousel .input .form-control::-ms-input-placeholder {
  color: #a1a7b3;
  font-size: 20px;
  font-weight: normal;
}

.udeCarousel .input .form-control::placeholder {
  color: #a1a7b3;
  font-size: 20px;
  font-weight: normal;
}

.udeCarousel .input .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.udeCarousel .input .input-group-append .input-group-text {
  background-color: #fff;
  color: #ec5252;
  border: none;
}

.udeCarousel .input .input-group-append:hover .input-group-text {
  background-color: #ec5252;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .Carousel-Content {
    top: 20% !important;
    width: 60% !important;
  }
}

@media screen and (max-width: 576px) {
  .Carousel-Content {
    width: 70% !important;
  }
}

.intro {
  background: -webkit-gradient(linear, left top, right top, from(#521822), to(#ec5252));
  background: linear-gradient(to right, #521822, #ec5252);
}

.intro .intro__content {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.intro .intro__content .intro-item .icon {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  margin-right: 25px;
}

.intro .intro__content .intro-item .icon-content {
  padding: 10px;
}

.intro .intro__content .intro-item .icon-content p:first-child {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 0;
}

.intro .intro__content .intro-item .icon-content p:last-child {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}

.courses {
  margin-top: 25px;
}

.courses .courses_content {
  width: 80%;
  margin: auto;
}

.courses .courses_content .courses-intro {
  padding-top: 10rem;
}

.courses .courses_content .courses-intro h2 {
  color: #29303b;
  font-size: 36px;
  font-weight: normal;
}

.courses .courses_content .myTap .nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
}

.courses .courses_content .myTap .nav .nav-item:hover .nav-link {
  border: none;
}

.courses .courses_content .myTap .nav .nav-item .nav-link.active {
  border: none;
  border-bottom: 5px solid #007791;
}

.courses .courses_content .myTap .nav .nav-item .nav-link {
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
  border: none;
}

.courses .courses_content .myTap .tab-content {
  margin-top: 25px;
  position: relative;
}

.courses .courses_content .myTap .tab-content .card-title {
  color: #29303b;
  font-size: 15px;
  font-weight: bold;
}

.courses .courses_content .myTap .tab-content .card-text {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
}

.courses .courses_content .myTap .tab-content .raiting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.courses .courses_content .myTap .tab-content .raiting .raiting-star {
  color: #F4C150;
  font-size: 13px;
  font-weight: normal;
  margin-right: 2px;
}

.courses .courses_content .myTap .tab-content .raiting span:last-child {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
}

.courses .courses_content .myTap .tab-content .raiting span {
  color: #686f7a;
  font-size: 13px;
  font-weight: bold;
  margin-right: 2px;
}

.courses .courses_content .myTap .tab-content .price {
  text-align: right;
}

.courses .courses_content .myTap .tab-content .price .old-price {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
  text-decoration: line-through;
}

.courses .courses_content .myTap .tab-content .price .new-price {
  color: #29303b;
  font-size: 15px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .courses-intro {
    padding-top: 0 !important;
  }
}

.students {
  margin-top: 25px;
}

.students .students_content {
  width: 80%;
  margin: auto;
}

.students .students_content .owl-prev {
  left: -2% !important;
  top: 43% !important;
}

.students .students_content .owl-next {
  left: unset;
  right: -2% !important;
  top: 43% !important;
}

.students .students_content .card-title {
  color: #29303b;
  font-size: 15px;
  font-weight: bold;
}

.students .students_content .card-text {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
}

.students .students_content .raiting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.students .students_content .raiting .raiting-star {
  color: #F4C150;
  font-size: 13px;
  font-weight: normal;
  margin-right: 2px;
}

.students .students_content .raiting span:last-child {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
}

.students .students_content .raiting span {
  color: #686f7a;
  font-size: 13px;
  font-weight: bold;
  margin-right: 2px;
}

.students .students_content .price {
  text-align: right;
}

.students .students_content .price .old-price {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
  text-decoration: line-through;
}

.students .students_content .price .new-price {
  color: #29303b;
  font-size: 15px;
  font-weight: bold;
}

.services {
  background-color: rgba(20, 23, 28, 0.05);
  padding: 20px;
  margin-top: 25px;
}

.services .services_content {
  width: 60%;
  margin: auto;
  padding: 10px;
}

.services .services_content .icon-content {
  background: #F7F8FA;
  border: 1px solid #cacbcc;
  padding: 20px;
  text-align: center;
}

.services .services_content .icon-content .icon {
  color: #007791;
  font-size: 40px;
  font-weight: normal;
  margin-right: 10px;
  margin-top: -10px;
}

.services .services_content .icon-content .icon-text h3 {
  color: #29303b;
  font-size: 20px;
  font-weight: bold;
}

.services .services_content .icon-content .icon-text p {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
}

.services .owl-prev, .services .owl-next {
  display: none !important;
}

@media screen and (max-width: 1200px) {
  .services_content {
    width: 80% !important;
  }
}

@media screen and (max-width: 768px) {
  .services_content {
    width: 100% !important;
  }
}

.banner {
  margin-top: 25px;
}

.banner .banner_content .bg_banner {
  background: linear-gradient(-45deg, #EC5252 0%, #6E1A52 100%);
  height: 8px;
}

.banner .banner_content .list_banner {
  background: #505763;
}

.banner .banner_content .list_banner .banner_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .banner_content .list_banner .banner_item .icon_banner {
  width: 20%;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  padding: 20px;
}

.banner .banner_content .list_banner .content_item {
  text-align: center;
  width: 75%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.banner .banner_content .list_banner .content_item .icon_banner {
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  margin-top: 25px;
}

.banner .banner_content .list_banner .content_item .heading_content h2 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.banner .banner_content .list_banner .content_item .heading_content p {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}

.banner .banner_content .list_banner .content_item .heading_content .button_heading .button_banner {
  border: none;
  padding: 10px;
  background: #ec5252;
  color: #fff;
  border-radius: 3px;
}

.banner .banner_content .list_banner .content_item .heading_content .button_heading :hover {
  background: #992337;
}

@media screen and (max-width: 992px) {
  .banner_content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .icon_banner {
    display: none !important;
  }
}

.topCategories_content {
  width: 75%;
  margin: auto;
}

.topCategories_content h3 {
  color: #29303b;
  font-size: 24px;
  font-weight: bold;
  margin-top: 25px;
}

.topCategories_content .icon-content {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #cacbcc;
  background: #fff;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
          box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
}

.topCategories_content .icon-content:hover {
  border: none;
}

.topCategories_content .icon-content .icon {
  color: #29303b;
  font-size: 24px;
  font-weight: normal;
  margin-right: 10px;
}

.topCategories_content .icon-content .icon-text {
  color: #686f7a;
  font-size: 15px;
  font-weight: normal;
  margin-top: 5px;
}

@media screen and (max-width: 992px) {
  .topCategories_content {
    width: 85% !important;
  }
}

@media screen and (max-width: 768px) {
  .topCategories_content {
    width: 100% !important;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.feedback {
  background-color: rgba(20, 23, 28, 0.05);
  margin-top: 25px;
  padding-bottom: 20px;
}

.feedback .feedback_content {
  width: 75%;
  margin: auto;
}

.feedback .feedback_content h2 {
  color: #29303b;
  font-size: 24px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 10px;
}

.feedback .feedback_content .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.feedback .feedback_content .card-content .card-image {
  margin-left: 25px;
  padding-right: 20px;
}

.feedback .feedback_content .card-content .card-image img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.feedback .feedback_content .card-content .image-text {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #686f7a;
  margin-left: 25px;
  margin-right: 20px;
  position: relative;
}

.feedback .feedback_content .card-content .image-text span {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 15px;
  left: 25px;
  width: 100%;
  height: 100%;
}

.feedback .feedback_content .card-content .card-title {
  margin-top: 25px;
}

.feedback .feedback_content .card-content .card-title h3 {
  color: #686f7a;
  font-size: 20px;
  font-weight: bold;
}

.feedback .feedback_content .card-body p {
  color: #686f7a;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 25px;
}

.feedback .feedback_content .owl-prev {
  left: -2% !important;
  top: 43% !important;
}

.feedback .feedback_content .owl-next {
  left: unset;
  right: -2% !important;
  top: 43% !important;
}

@media screen and (max-width: 768px) {
  .feedback_content {
    width: 100% !important;
    padding-left: 15px;
    padding-right: -15px;
  }
}

.companies {
  background-color: rgba(20, 23, 28, 0.05);
}

.companies .companies_content {
  width: 75%;
  margin: auto;
}

.companies .companies_content .companies_logo .logo_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.companies .companies_content .companies_logo p {
  color: #686f7a;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
}

.companies .companies_content .companies_logo .logo-item {
  margin: 0 32px 8px;
}

.companies .companies_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.companies .companies_heading .heading_list {
  width: 50%;
}

.companies .companies_heading .heading_list .heading-item {
  max-width: 400px;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.companies .companies_heading .heading_list .heading-item a {
  color: #505763;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.companies .companies_heading .heading_list .heading-item .heading-content {
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
  padding-bottom: 10px;
}

.companies .companies_heading .heading_list:first-of-type {
  border-bottom: none;
  border-right: 1px solid #dedfe0;
}

@media screen and (max-width: 576px) {
  .logo-item {
    margin: 8px 16px !important;
  }
}

.footer_content hr {
  margin: auto;
}

.footer_content .hr-primary {
  border-top: 6px solid #ec5252;
}

.footer_content .container-fluid {
  width: 75%;
  margin: auto;
  margin: 40px auto 30px;
}

.footer_content .footer-main .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 110px;
  list-style: none;
}

.footer_content .footer-main .links li {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.footer_content .footer-main .links li .bold {
  font-weight: bold;
}

.footer_content .footer-main .links li a {
  color: #007791;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
}

.footer_content .footer-main .links li a:hover {
  color: #29303b;
}

.footer_content .footer-main .btn-footer {
  text-align: right;
  display: block;
}

.footer_content .footer-main .btn-footer .dropdown-menu ul {
  list-style: none;
  margin-bottom: auto;
}

.footer_content .footer-main .btn-footer .dropdown-menu ul li {
  padding: 5px;
}

.footer_content .footer-main .btn-footer .dropdown-menu ul li:hover {
  background-color: rgba(20, 23, 28, 0.05);
}

.footer_content .footer-main .btn-footer .dropdown-menu ul li a {
  color: #505763;
  font-size: 15px;
  font-weight: normal;
  text-decoration: none;
}

.footer_content .footer-bottom {
  margin: 30px auto;
}

.footer_content .footer-bottom .mr20 {
  margin-right: 10px;
  text-decoration: none;
  color: #505763;
}

.footer_content .footer-bottom .mb10 {
  margin-bottom: 10px;
}

.footer_content .footer-bottom .logo-visibele {
  display: none;
}

.footer_content .footer-bottom .list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
  display: inline-block;
}

.footer_content .footer-bottom .list-inline .footer__sitemap {
  display: none;
}

.footer_content .footer-bottom .list-inline .footer__sitemap_link {
  display: none;
}

.footer_content .footer-bottom .list-inline li {
  display: inline-block;
  padding: 6px;
}

.footer_content .footer-bottom .list-inline li a {
  color: #007791;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
}

.footer_content .footer-bottom .list-inline li a:hover {
  color: #29303b;
}

@media screen and (max-width: 992px) {
  .container-fluid {
    width: 100% !important;
  }
  .logo-visibele {
    display: inline-block !important;
  }
}

@media screen and (max-width: 768px) {
  .container-fluid {
    width: 100% !important;
  }
  .footer-main .footer-nav-main {
    display: none !important;
  }
  .footer-main .btn-footer {
    text-align: left !important;
  }
  .footer-bottom .text-right {
    text-align: left !important;
  }
  .footer-bottom .text-right .footer__sitemap {
    display: inline-block !important;
  }
  .footer-bottom .text-right .footer__sitemap_link {
    display: inline-block !important;
  }
}
/*# sourceMappingURL=main.css.map */