.banner{
    margin-top: $mg-2;
    .banner_content{
        .bg_banner{
            background: linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
            height: 8px;
        }
        .list_banner{
            background: $color-black-light;
            .banner_item{
                display: flex;
                .icon_banner{
                    width: 20%;
                    text-align: center;
                    @include styleText($color-white-0,$fs-3,$fw-normal);
                    padding: $pd-2;
                }
            }
            .content_item{
                text-align: center;
                width: 75%;
                margin: auto;
                display: flex;
                padding: $pd-2;
                .icon_banner{
                    @include styleText($color-white-0,$fs-3,$fw-normal);
                    margin-top: $mg-2;
                    
                }
                .heading_content{
                    h2{
                        @include styleText($color-white-0,$fs-3,$fw-bold);
                    }
                    p{
                        @include styleText($color-white-0,$fs-2 - 5,$fw-normal);
                    }
                    .button_heading{
                        .button_banner{
                            border: none;
                            padding: $pd-1;
                            background: $color-red-0;
                            color: $color-white-0;
                            border-radius: 3px;
                        }
                        :hover{
                            background: $color-red-2;
                        }
                    }
                }
            }
            
        }
    }
}



@include responsive("large"){
    .banner_content{
        justify-content: center;
    }
  .icon_banner{
      display: none !important;
  }  
}