.udeCarousel {
  background-image: url(../img/cover.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
  .Carousel-Content {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 40%;
  }
  h2 {
    @include styleText($color-white-0, $fs-4, $fw-bold);
  }
  p {
    @include styleText($color-white-0, $fs-2 - 2, $fw-bold);
  }
  .input {
    .form-control {
      padding: $pd-2;
      &::placeholder {
        @include styleText($color-gray-2, $fs-2, $fw-normal);
      }
      &:focus {
        box-shadow: none;
      }
    }
    .input-group-append {
      .input-group-text {
        background-color: $color-white-0;
        color: $color-red-0;
        border: none;
      }
      &:hover {
        .input-group-text {
          background-color: $color-red-0;
          color: $color-white-0;
        }
      }
    }
  }
}


@include responsive("medium"){
  .Carousel-Content {
    top: 20% !important;
    width: 60% !important;
  }
}

@include responsive("small"){
  .Carousel-Content {
    width: 70% !important;
  }
}