.courses {
    margin-top: $mg-2;
    .courses_content {
        width: 80%;
        margin: auto;
        .courses-intro {
            padding-top: 10rem;
            h2 {
                @include styleText($color-black-0, $fs-4 - 4, $fw-normal);
            }
        }
        .myTap {
            .nav {
                justify-content: space-between;
                border: none;
                .nav-item {
                    &:hover {
                        .nav-link {
                            border: none;
                        }
                    }
                    .nav-link.active {
                        border: none;
                        border-bottom: 5px solid $color-blue;
                    }
                    .nav-link {
                        @include styleText($color-black-0, $fs-0, $fw-normal);
                        border: none;
                    }
                }
            }
            .tab-content {
                margin-top: $mg-2;
                position: relative;
                .card-title {
                    @include styleText($color-black-0, $fs-0, $fw-bold);
                }
                .card-text {
                    @include styleText($color-gray-4, $fs-1, $fw-normal);
                }
                .raiting {
                    display: flex;
                    .raiting-star {
                        @include styleText($color-yellow, $fs-1, $fw-normal);
                        margin-right: $mg-0;
                    }

                    span:last-child {
                        @include styleText($color-gray-4, $fs-1, $fw-normal);
                    }
                    span {
                        @include styleText($color-gray-4, $fs-1, $fw-bold);
                        margin-right: $mg-0;
                    }
                }
                .price {
                    text-align: right;
                    .old-price {
                        @include styleText($color-gray-4, $fs-1, $fw-normal);
                        text-decoration: line-through;
                    }
                    .new-price {
                        @include styleText($color-black-0, $fs-0, $fw-bold);
                    }
                }
            }
        }
    }
}
