.navbar{
    max-width: 1440px;
    margin: auto;
    .header__left{
        display: flex;
        align-items: center;
        @include styleText($color-black-light,$fs-1,$fw-normal);
        .navbar-brand{
            margin-right: $mg-2 ;
            img{
                width:110px;
            }
        }
        .header__cate{
            margin-right: $mg-2;
        }
        // flex-grow
        .header__form{
            flex-grow:1;
        }
    }
    
    
    
    .header__right{
        .nav-link{
            @include styleText($color-black-light,$fs-1,$fw-normal);
        }
        .ude-btnGroup{
            margin-left: $mg-2;
        }
    }
}


// RESPONSIVE 
@include responsive("extra-large"){
    .navbar{
        width: 100%;
        margin: auto;
    }
    .header__right{
        .ude-business,.ude-teach{
            display: none;
        }
    }
}

@include responsive("large"){
    .navbar{
        width: 100%;
        margin: auto;
    }
}

@include responsive("medium"){
    .header__left{
        .header__form,.header__cate{
            display: none;
        }
        .navbar-brand{
            margin: auto !important;
        }
    }
    .header__right{
        .ude-btnGroup{
            display: none;
        }
        
    }
}