.services{
    background-color: $color-gray-2;
    padding: $pd-2;
    margin-top: $mg-2;
    .services_content{
        width: 60%;
        margin: auto;
        padding: $pd-1;
        .icon-content{
            display: flex;
            background: $color-gray-5;
            border: 1px solid $color-gray-3;
            padding: $pd-2;
            .icon{
                @include styleText($color-blue,$fs-4,$fw-normal);
                margin-right: $mg-1;
                margin-top: -10px;
            }
            .icon-text{
                h3{
                    @include styleText($color-black-0,$fs-2,$fw-bold);
                }
                p{
                    @include styleText($color-gray-4,$fs-1,$fw-normal);
                }
            }
        }
    }
}